@{
    ViewBag.Title = "Contact";
}
<div style="padding-top: 6%">
    <h2>Контакты создателя:</h2>
    <br />
    <div class="social vk">
        <a href="https://vk.com/frosty5533" target="_blank">
            <img src="~/pic/vk.png" />
        </a>
        <a href="mailto:frosty3221@mail.ru" target="_blank">
            <img src="~/pic/mail.png" />
        </a>
    </div>
    <br />
</div>

